@media (max-width: 480px) {
    //HEADER
    .header {
        position: relative;
        top: 0%;
        @include medida(100vw, 20vh);
        font-size: 1rem;
        text-align: center;
    }
    .header__titulo {
        display: none;
    }
    .header__logo {
        @include medida(40vw, 20vh);
    }
    .carrusel__imagen {
        @include medida(80vw, 90vh);
        border-image: round;
    }

    //SECCIONES
    .section--izq {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "foto" "article";
    }
    .art--izq {
        padding: 0.5em;
    }
    .img--izq {
        @include medida(85vw, 35vh);
    }    
    .section--der {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "foti" "art";
    }
    .art--der {
        padding: 0.5em;
    }
    .img--der {
        @include medida(85vw, 35vh);
    }

    //nosotros.html
    #nosotros__logo {
        @include medida(40vw, 20vh)
    }
    #nosotros__div {
        background: none;
        display: grid;
        grid-template-columns: 1 100vw;
        grid-template-rows: 40vh 80vh;
        grid-template-areas: "secQs" "asideQs";
    }
    #nosotros__section {
        @include medida(90vw, 35vh);
        overflow: none;
        grid-area: secQs;
    }
    #iframeHomero {
        display: none
    }
    #nosotros__aside {
        @include medida(90vw, 75vh);
        display: inline-block;
        margin: 0.5em;
        overflow: none;
    }
    .aside__img {
        @include medida(70vw, 50vh);
    }
    .aside__img--oculta {
        display: none;
        @include medida(70vw, 50vh);
    }
    footer {
        @include medida(100%, 25vh);
        justify-self: center;
        text-align: center;
    }
}

@media (min-width: 480px) and (max-width: 720px) {
    .header {
        font-size: 1rem;
        text-align: center;
        position: relative;
        top: 0%;
        @include medida(100vw, 20vh);
    }
    .header__logo {
        @include medida(10vw, 10vh);
    }   
    .carrusel__imagen {
        @include medida(40vw, 50vh);
    }
    #nosotros__logo {
        @include medida(10vw, 10vh);
    }
    footer {
        @include medida(100%, 20vh);
        justify-self: center;
        text-align: center;
    }
}