.carrusel__imagen {
    @include medida(50vw, 90vh);
    border-image: round;
    padding: 10vh;
}
#carrusel {
    @include separacion(15vh 15vw, 25vw 10vh)
}
.carrusel--fondo {
    background: none;
    background-color: none;
}

.index__section--izq {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1;
    grid-template-areas: "foto article";
    background-color: rgb(255, 255, 199);
    @include separacion(0, 1em);
}
.index__art--izq {
    grid-area: article;
    text-align: center;
    justify-content: space-around;
    align-items: stretch;
    padding: 4em;
}
.index__img--izq {
    grid-area: foto;
    @include medida(45vw, 75vh);
}

.index__section--der {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1;
    @include separacion(0, 1em);
    grid-template-areas: "art foti";
    background-color: rgb(248, 214, 133);
}
.index__art--der {
    @extend .index__art--izq;
    grid-area: art;
}
.index__img--der {
    grid-area: foti;
    @include medida(45vw, 75vh);
}

.index__combos h2 {
    font-size: 2em;
}